*{
    text-align: center;
}

body{
    background-image: linear-gradient(#875244,#a56459);
}

a{
    text-decoration: none;
    font-size: 175%;
}

h1{
    font-family: Berkshire Swash;
    text-decoration: underline;
    font-size: 600%;
    color: #f2cdb6;
}

section{
    width: 35vw;
}

#textArea{
    width: 65vw;
    flex-direction: column;
    justify-items: center;
}

section, #textArea{
    height: 80vh;
}

main{
    display: flex;
    flex-direction: row;
}


footer, main, body,h1,p,h4{
    margin: 0px;
}

p{
    font-family: Snowburst One;
    color: #d2977f;
}


#continue{
    font-family: Berkshire Swash;
}

.stat{
    display: flex;
    flex-direction: row;
    font-size: 175%;
    margin: 3.5vw 0vw;
}

h4{
    font-family: Berkshire Swash;
}

a, h4{
    color: #dfad94;
}

