
body{
    background-image: url("Resources/order/bg.png");
    background-size: 100vw 75vh;
}

h1{
    font-family: Berkshire Swash;
    text-decoration: underline;
    font-size: 400%;
}

p{
    font-family: Snowburst One;
}

main{
    display: flex;
    flex-direction: row;
}

section{
    width: 75vw;
}

#spriteDiv{
    width: 35vw;
}

footer{
    background-color: #8b5939;
    background-repeat: no-repeat;
    background-size: 100vw 25vh;
    height: 25vh;
    width: 100vw;
    bottom: 0;
    position: fixed;
    border-top: 0.75vh solid #553622;
}

footer, main, body,h1{
    margin: 0px;
}

section, #spriteDiv{
    display: flex;
    justify-content: center;
    height: 75vh;

}

.sprite{
    position: fixed;
    bottom: 25vh;
}

#Tall{
    height: 40vw;
    width: 40vw;
}

#Medium{
    height: 32.5vw;
    width: 32.5vw;
}

#Small{
    height: 20vw;
    width: 20vw;
}


#textBox{
    margin-top: 15vh;
    margin-left:8vw;
    display: flexbox;
    justify-self: center;
    align-self: center;
    background-color: gray;
    height: 50vh;
    width: 50vw;
    border-radius: 3vw;
    border: 0.75vh solid black;
    position: fixed;
}

#acknowledgeDialouge{
    display: flex;
    justify-content: flex-end;
}

#dialouge{
    height: 25vh;
    width: 50vw;
    flex-wrap: wrap;
}

.hidden{
    visibility: hidden;
}