*{
    color: #553622;
}

body{
    background-image: url("Resources/order/bg.png");
    background-size: 100vw 75vh;
}

h1{
    font-family: Berkshire Swash;
    text-decoration: underline;
    font-size: 400%;
    -webkit-text-stroke: 0.25vh #534333;
    color: #735e3f;
    margin: 0vh 0vh 0vh 1.5vh;
}

p{
    font-family: Snowburst One;
    flex-wrap: wrap;
}

main{
    display: flex;
    flex-direction: row;
}

section{
    width: 75vw;
}

#spriteDiv{
    width: 35vw;
}

footer{
    background-color: #8b5939;
    background-repeat: no-repeat;
    background-size: 100vw 25vh;
    height: 25vh;
    width: 100vw;
    bottom: 0;
    position: fixed;
    border-top: 0.75vh solid #553622;
}

footer, main, body{
    margin: 0px;
}

section, #spriteDiv{
    display: flex;
    justify-content: center;
    height: 75vh;

}

.sprite{
    position: fixed;
    bottom: 25vh;
}

#Tall{
    height: 40vw;
    width: 40vw;
}

#Medium{
    height: 32.5vw;
    width: 32.5vw;
}

#Small{
    height: 20vw;
    width: 20vw;
}


#textBox{
    display: flexbox;
    justify-self: center;
    align-self: center;
    height: 35vh;
    width: 50vw;
}

#respond{
    width: 25vw;
    height: 10vh;
    top: 58vh;
    font-size: 350%;
    
}

#respond, #textBox{
    border: 0.75vh solid #553622;
    background-color: #f5e8cf;
    border-radius: 3vw;
    position: fixed;
    margin-left:8vw;
    
}

#acknowledgeDialouge{
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: Berkshire Swash;
    -webkit-text-stroke: 0.25vh #534333;
    color: #735e3f;
}

#dialouge{
    height: 25vh;
    width: 50vw;
    flex-wrap: wrap;
    -webkit-text-stroke: 0.1vh #553622;
    color: #553622;
}

.hidden{
    visibility: hidden;
}

a{
    text-decoration: none;
    -webkit-text-stroke: 0.25vh #534333;
    color: #735e3f;
}