footer{
    display: flex;
    background-color: #805648;
    background-repeat: no-repeat;
    background-size: 100vw 25vh;
    height: 25vh;
    width: 100vw;
    bottom: 0;
    position: fixed;
    border-top: 0.75vh solid #533523;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: scroll;
}

footer, body{
    margin: 0px;
}

div{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e3bea9;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 0.75vh #533523;
    border-radius: 2vw;
    height: 10vw;
    width: 12vw;
    margin: 1vh;
    padding: 0;
}

#chosen{
    background-color: #c1b393;
}

#backArrow{
    transform: scaleX(-1);
}

.ingreIcon{
    width: 8.25vw;
    height: 8.25vw;
    margin: 0vw
}

p{
    font-family: Berkshire Swash;
    color: #593621;
    text-align: center;
    margin: 0;
}