body{
    text-align: center;
    align-content: center;
    background-color: #553622;
}

main{
    border: 0.75vh solid #553622;
    background-color: #f5e8cf;
    border-radius: 3vw;
    font-size: 225%;
}

body, main{
    margin: 0;
}

h1{
    text-decoration: underline;
    font-size: 400%;
}

h4{
    font-size: 200%;
}

h4, h1, a{
    -webkit-text-stroke: 0.25vh #534333;
    color: #735e3f;
    margin: 0vh 0vh 0vh 1.5vh; 
}

*{
    color: #553622;
}

p{
    font-family: Snowburst One;
    flex-wrap: wrap;
}

a, h1{
    font-family: Berkshire Swash;
}